body {
  font-family: sans-serif;
  margin: 0;
}

.powered-by-pillbox {
  position: fixed;
  bottom: 8px;
  right: 12px;
  background-color: #000;
  color: #fff;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 10px;
  pointer-events: none;
  opacity: 0.25;
  z-index: 100;
  user-select: none;
  font-weight: 500;
  letter-spacing: 0.5px;
}
