body {
  width: 20em;
  height: 25em;
  margin: 8px;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 1.2em;
  color: navy;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.modifiedTextArea {
  width: 100%;
  height: 19em;
  margin-top: 1em;
  resize: vertical;
}

.floating-button-container {
  position: fixed; /* Makes the element float */
  top: 0; /* Adjust top distance as needed */
  right: 0; /* Adjust right distance as needed */
  z-index: 100;
}

/* Optional: Style the button itself if needed */
.floating-button-container .iconbutton {
  background-color: rgba(0, 0, 0, 0);
}

.floating-button-container .iconbutton:hover {
  background-color: rgba(76, 175, 80, 0.1);
}

.floating-button-container .iconbuttonsvg {
  /* Style the SVG icon */
  width: 1.8em;
  height: 1.8em;
  vertical-align: middle;
  color: black; /* White icon color */
}

.floating-button-container-bottom {
  position: fixed; /* Makes the element float */
  bottom: 0; /* Adjust top distance as needed */
  left: 0; /* Adjust right distance as needed */
  z-index: 100;
}

/* Optional: Style the button itself if needed */
.floating-button-container-bottom .iconbutton {
  background-color: rgba(0, 0, 0, 0);
}

.floating-button-container-bottom .iconbutton:hover {
  background-color: rgba(76, 175, 80, 0.1);
}

.floating-button-container-bottom .iconbuttonsvg {
  /* Style the SVG icon */
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.6); /* White icon color */
}

/* Notification.css */
.notification {
  position: fixed;
  bottom: 20px;
  left: 50%;
  width: 70%;
  font-weight: bolder;
  font-size: 1.2em;
  line-height: 1.2;
  transform: translateX(-50%); /* Center horizontally */
  background-color: #cdffcd; /* Example background color */
  color: #2e2e2e;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0; /* Initially hidden */
  transition:
    opacity 0.5s ease,
    transform 0.5s ease; /* Smooth transitions */
}

.notification.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0); /* Move up into view */
}

.notification.hide {
  opacity: 0;
  transform: translateX(-50%) translateY(50vh); /* Move down out of view */
}
